<div class="card my-1" style="width: 25rem;">
    <div class="card-header">
        <h4>Code:</h4> {{airport.airportCode}}
    </div>
    <div class="card-body">
        <label for="airportName">Name:</label>
        <input #airportName id="airportName" type="text" class="form-control" value="{{airport.airportName}}" on>
        <label for="countryCode">Country Code:</label>
        <select #countryCode id="countryCode" class="form-control">
            <option *ngFor="let country of countryList" value ="{{country.countryCode}}" [selected] = "country.countryCode == airport.countryCode">{{country.countryName}}</option>
        </select>
        <div class="btn-group">
            <button class="btn btn-warning" (click) ="updateItem(airportName.value,countryCode.value)">Update</button>
            <button class="btn btn-danger" (click) = "deleteItem()">Delete</button>
        </div>
    </div>

</div>



