<div *ngIf="submitSuccessAirport" class="alert alert-success">
    The airport was created successfully with Airport Code: {{submitSuccessAirport}}
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
    <label for="name">Airport Name:</label>
    <input id="airportName" type="text" class = "form-control" formControlName="airportName">
    <div *ngIf="submitted && form.controls['airportName'].errors">
        <div *ngIf="form.controls['airportName'].errors?.['required']">
            Airport Name is required
        </div>
    </div>
    </div>
    <div class="form-group">
    <label for="countryCode">Country Code:</label>
    <select id="countryCode" class = "form-control" formControlName="countryCode">
        <option disabled>Select Country</option>
        <option *ngFor="let country of countryList" value ="{{country.countryCode}}">{{country.countryName}}</option>
    </select>
    <div *ngIf="submitted && form.controls['countryCode'].errors">
        <div *ngIf="form.controls['countryCode'].errors?.['required']">
            Country is required
        </div>
    </div>
    </div>
    <div class = "btn-group"> 
    <a class="btn btn-outline-secondary" [routerLink]="['/airports']">Return to list</a>
    <button class="btn btn-primary" type="submit">Create New Airport</button>
    </div>
</form>

